body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
}

canvas
{
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 10vh;
  z-index: -99;
  display: flex;
}

.gradient-mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-size: contain;
  background-image: url("transparent.png");
}

/* Detailed below allows us to split-screen two divs along some vertical line */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}